* {
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .container {
    height: 100%;
    width: 100%;
  }
  
  .signin {
    background-color: #02a24a;
    width: 100%;
    height: 10%;
    color: white;
  }
  
  .avatar {
    padding-left: 30px;
  }
  
  .avatar img {
    width:56px;
    height: 56px;
    border-radius: 50%;
  }
  
  .choice {
    width: 100%;
    height: 90%;
    background-color: white;
    display: flex; /* Add this to use flexbox */
  }
  
  .option {
    /* Remove float and set width to 20% */
    width: 20%;
    height: 100%;
    border-right: 1px solid black;
    display: flex; /* Add this to use flexbox */
    flex-direction: column; /* Add this to stack suboptions vertically */
  }
  
  .suboption {
    background-color: white;
    width: 100%;
    height: 14.28%; /* Increase height to 20% to make suboptions taller */
    display: flex;
    align-items: center;
    justify-content: center; /* Add this to center content horizontally and vertically */
    text-align: center; /* Center text within suboption */
    margin: 5px 0; /* Add some margin between suboptions */
  }
  
  .suboption a {
    font-size: 20px;
    color: black;
    text-decoration: unset;
    margin: 0px;
  }

  .calender {
    width: 80%;
    height: 100%;
  }

  .calender {
    border-collapse: collapse;
  }

  .calender table thead {
    background-color: rgb(34, 139, 34);
    color: white;
  }

  .calender table tr {
    border-bottom: 1px solid #111111;
  }

  .calender tbody tr:nth-of-type(even) {
    background-color: #e8e6e6;
  }
  